
<!--built-in column filter types Starts-->
<section id="filter">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">built-in column filter types</h4>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ng2-smart-table [settings]="filtersettings" [source]="filterSource" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
                        (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--built-in column filter types Ends-->

