<!-- Reactive Form Validaton Starts -->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Govt Jobs Create Form</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <form [formGroup]="govtJobsForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
              <label for="organisation"
                >Organisation<span class="required">*</span></label
              >

              <input
                type="text"
                class="form-control"
                id="organisation"
                formControlName="organisation"
                required
              />
              <small
                class="form-text text-muted danger"
                *ngIf="
                  !govtJobsForm.get('organisation').valid &&
                  (govtJobsForm.get('organisation').dirty ||
                    govtJobsForm.get('organisation').touched)
                "
                >Please enter a organisation</small
              >
            </div>
            <div class="form-group">
              <label for="postName"
                >Post Name<span class="required">*</span></label
              >

              <input
                type="text"
                class="form-control"
                id="postName"
                formControlName="postName"
                required
              />
              <small
                class="form-text text-muted danger"
                *ngIf="
                  !govtJobsForm.get('postName').valid &&
                  (govtJobsForm.get('postName').dirty ||
                    govtJobsForm.get('postName').touched)
                "
                >Please enter a Post Name</small
              >
            </div>
            <div class="form-group">
              <label for="qualification"
                >Qualification<span class="required">*</span></label
              >

              <textarea
                class="form-control"
                id="qualification"
                formControlName="qualification"
                required
              ></textarea>
              <small
                class="form-text text-muted danger"
                *ngIf="
                  !govtJobsForm.get('qualification').valid &&
                  (govtJobsForm.get('qualification').dirty ||
                    govtJobsForm.get('qualification').touched)
                "
                >This field is required!</small
              >
            </div>
            <div class="form-group">
              <label for="deadline"
                >Dead Line<span class="required">*</span></label
              >

              <input
                type="text"
                class="form-control"
                id="deadline"
                formControlName="deadline"
                required
              />
              <small
                class="form-text text-muted danger"
                *ngIf="
                  !govtJobsForm.get('deadline').valid &&
                  (govtJobsForm.get('deadline').dirty ||
                    govtJobsForm.get('deadline').touched)
                "
                >This a required field</small
              >
            </div>
            <div class="form-group">
              <label for="state">State<span class="required">*</span></label>

              <input
                type="text"
                class="form-control"
                id="state"
                formControlName="state"
                required
              />
              <small
                class="form-text text-muted danger"
                *ngIf="
                  !govtJobsForm.get('state').valid &&
                  (govtJobsForm.get('state').dirty ||
                    govtJobsForm.get('state').touched)
                "
                >This a required field</small
              >
            </div>
            <div class="form-group">
              <label for="industry"
                >Industry<span class="required">*</span></label
              >

              <input
                type="text"
                class="form-control"
                id="industry"
                formControlName="industry"
                required
              />
              <small
                class="form-text text-muted danger"
                *ngIf="
                  !govtJobsForm.get('industry').valid &&
                  (govtJobsForm.get('industry').dirty ||
                    govtJobsForm.get('industry').touched)
                "
                >This a required field</small
              >
            </div>

            <div class="form-group">
              <label for="totalVacancies"
                >Total Vacancies<span class="required">*</span></label
              >

              <input
                type="text"
                class="form-control"
                id="totalVacancies"
                formControlName="totalVacancies"
                required
              />
              <small
                class="form-text text-muted danger"
                *ngIf="
                  !govtJobsForm.get('totalVacancies').valid &&
                  (govtJobsForm.get('totalVacancies').dirty ||
                    govtJobsForm.get('totalVacancies').touched)
                "
                >This a required field</small
              >
            </div>
            <div class="form-group">
              <label for="postedDate"
                >Posted Date<span class="required">*</span></label
              >

              <input
                type="text"
                class="form-control"
                id="postedDate"
                formControlName="postedDate"
                required
              />
              <small
                class="form-text text-muted danger"
                *ngIf="
                  !govtJobsForm.get('postedDate').valid &&
                  (govtJobsForm.get('postedDate').dirty ||
                    govtJobsForm.get('postedDate').touched)
                "
                >This a required field</small
              >
            </div>
            <div class="form-group">
              <label for="officialSite"
                >Official Site<span class="required">*</span></label
              >

              <input
                type="text"
                class="form-control"
                id="officialSite"
                formControlName="officialSite"
                required
              />
              <small
                class="form-text text-muted danger"
                *ngIf="
                  !govtJobsForm.get('officialSite').valid &&
                  (govtJobsForm.get('officialSite').dirty ||
                    govtJobsForm.get('officialSite').touched)
                "
                >This a required field</small
              >
              <div class="form-group">
                <label for="notificationFile"
                  >Notification File<span class="required">*</span></label
                ><br />

                <input
                  style="width:215px"
                  type="file"
                  required
                  #fileInput
                  (change)="fileChangeEvent($event)"
                  placeholder="Upload file..."
                />

                <small
                  class="form-text text-muted danger"
                  *ngIf="
                    !govtJobsForm.get('notificationFile').valid &&
                    (govtJobsForm.get('notificationFile').dirty ||
                      govtJobsForm.get('notificationFile').touched)
                  "
                  >This a required field</small
                >
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-danger btn-raised">
                Cancel
              </button>
              <button
                type="submit"
                class="btn btn-success btn-raised"
                [disabled]="!govtJobsForm.valid"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Reactive Form Validaton Ends -->
